/*
	Repulsor by Happy Indra Wijaya
    https:github.com/hiwijaya/repulsor
	Free for personal and commercial use under the MIT license
*/
@media screen and (max-width: 800px) {

    body {
        font-size: 0.9em;
    }
    h1 {
        font-size: 2.1em;
    }
    h2 {
        font-size: 1.7em;
    }
    h3 {
        font-size: 1.3em;
    }
    h4 {
        font-size: 1.1em;
    }
    h5 {
        font-size: 0.9em;
    }
    h6 {
        font-size: 0.7em;
    }
    input, select, textarea {
        width: 100%;
    }

    .hide {
        display: none;
    }

    /* modal-image */
    #modal-content {
        width: 100%;
    }
    /* modal-image */


    #container {
        flex-direction: column;
        height: auto;
    }

    /* sidebar */
    #sidebar {
        width: 100%;
        background-image: linear-gradient(60deg,  #0B6E88 10%, #05476A 90%);
    }
    #sidebar-mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        padding: 0 20px;
    }
    .menu-title {
        flex: 1;
        color: #fff;
    }
    .menu-icon {
        display: inline-block;
        cursor: pointer;
    }
    .menu-icon .bar1, .bar2, .bar3 {
        width: 25px;
        height: 2px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
    }
    .change .bar1 {
        transform: rotate(-45deg) translate(-6px, 5px);
        -webkit-transform: rotate(-45deg) translate(-6px, 5px);
        -moz-transform: rotate(-45deg) translate(-6px, 5px);
        -ms-transform: rotate(-45deg) translate(-6px, 5px);
        -o-transform: rotate(-45deg) translate(-6px, 5px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        transform: rotate(45deg) translate(-6px, -5px);
        -webkit-transform: rotate(45deg) translate(-5px, -5px);
        -moz-transform: rotate(45deg) translate(-5px, -5px);
        -ms-transform: rotate(45deg) translate(-5px, -5px);
        -o-transform: rotate(45deg) translate(-5px, -5px);
    }
    .sidebar-desktop {
        visibility: hidden;
        height: 0;
        padding: 0 0 0 0;
        margin: 0 20px 0 20px;
        text-align: center;
        transition: height 0.7s, visibility 0.3s;
        -webkit-transition: height 0.7s, visibility 0.3s;
        -moz-transition: height 0.7s, visibility 0.3s;
        -ms-transition: height 0.7s, visibility 0.3s;
        -o-transition: height 0.7s, visibility 0.3s;
    }
    .sidebar-responsive {
        visibility: visible;
        height: 200px;
        padding: 0 0 10px 0;
    }
    .sidebar-header {
        justify-content: center;
        align-items: center
    }
    .sidebar-logo {
        display: none;
    }
    .sidebar-footer .account-box {
        justify-content: center;
        margin-bottom: 0;
    }
    .sidebar-footer .credit-box {
        display: none;
    }
    /* sidebar */

    /* content */
    #content {
        max-height: none;
    }
    /* content */

    /* blog */
    .post-item:hover .post-title{
        font-weight: 400;
    }
    .post-item:active .post-title{
        font-weight: 500;
    }
    /* blog */


}
