/*
	Repulsor by Happy Indra Wijaya
    https://github.com/hiwijaya/repulsor
	Free for personal and commercial use under the MIT license
*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,900');

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.0em;
    font-weight: 400;
    background-color: #FFF;
    color: #000;
}
h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.0em;
}
h6 {
    font-size: 0.8em;
}
p {
    line-height: 1.5em;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: #000;
}
b {
    font-weight: 500;   /* medium, not bold */
}
i {
    font-style: italic;
}
hr {
    border: 0;
    border-top: 1px solid #bfbfbf;
}
img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
code {
    font: normal 0.8em Consolas, Monaco, monospace;
    background: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
}





/* index */
#index {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#index .header {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#index .header a {
    margin-right: 50px;
}
#index .body {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0 50px 0 150px;
}
#index .body .heading {
    font-family: 'Orbitron', sans-serif;
    font-size: 3.8em;
    font-weight: 900;
}
#index .footer {
    height: 100px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#index .line {
    width: 150px;
    height: 1px;
    margin-right: 30px;
    background-color: #000;
}
#index .account-box {
    width: 250px;
    display: flex;
    justify-content: space-between;
}
/* index */

/* about */
#index .body .about h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    margin-bottom: 10px;
}
#index .body .about p {
    max-width: 800px;
}
/* about */


/* container */
#container {
    height: 100vh;
    display: flex;
    flex-direction: row;
}
/* container */

/* sidebar */
#sidebar {
    width: 600px;
    background: #000;
}
#sidebar-mobile {
    display: none;
}
.sidebar-desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 50px 25px 25px;
    height: 100vh;
    text-align: right;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.sidebar-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.sidebar-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.6em;
    font-weight: 900;
    margin-bottom: 5px;
    color: #FFF;
}
.sidebar-subtitle {
    line-height: 1.2em;
    margin-bottom: 15px;
    color: #d9d9d9;
}
.sidebar-menu {
    width: 120px;
    display: flex;
    justify-content: space-between;
}
.sidebar-menu a {
    height: 20px;
    color: #FFF;
}
.sidebar-menu a:hover {
    color: #95A5A6;
}
.sidebar-footer{
    line-height: 20px;
    color: #FFF;
}
.sidebar-footer a {
    color: #95A5A6;
}
.sidebar-footer .account-box {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}
.sidebar-footer .account-box a {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    color: #FFF;
}
.sidebar-footer .account-box a:hover i {
    color: #95A5A6;
}
/* sidebar */


/* content */
#content {
    width: 100%;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    color: #000;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
/* content */


/* post */
.post {
    padding: 20px 20px 0 20px;
}
.post a {
    color: #95A5A6;
}
.post img {
    max-width: 50%;
}
.post img:hover {
    cursor: pointer;
}
.post .title {
    font-weight: 700;
    margin-bottom: 5px;
}
.post .date {
    color: #bfbfbf;
    margin-bottom: 30px;
}
.post .subtitle {
    font-weight: 700;
    margin-bottom: 5px;
}

.post-item {
    display: block;
    margin-bottom: 20px;
}
.post-item .post-title {
    line-height: 1.0em;
    margin-bottom: 5px;
    color: #95A5A6;
}
.post-item .post-date {
    color: #bfbfbf;
    margin-bottom: 5px;
}
.post-item .post-preview {
    max-width: 800px;
    color: #000;
    font-size: 0.9em;
    line-height: 1.5em;
}
/* post */


/* footer */
#footer, #footer a {
    text-align: center;
    color: rgba(149, 165, 166, 0.5);
    margin: 20px 0;
}
/* footer */


/* notification */
#notification {
    width: 100%;
    height: 40px;
    background: #95A5A6;
    color: #FFF;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
#notification a {
    color: #000;
    padding: 5px;
}
/* notification */


.separator {
    content: '';
    border-right: 0.7px solid #FFF;
    height: 20px;
    line-height: 20px;
}


/* scroll */
::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
    width: 5px;
    height: 5px;
    background-color: transparent;
}
::-webkit-scrollbar,
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #FCFCFC;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}
/* scroll */


/* modal-img */
#modal-image {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
}
#modal-close {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #FFF;
    font-weight: 700;
    transition: 0.3s;
}
#modal-close:hover {
    color: #95A5A6;
}
#modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
}
#modal-caption {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 800px;
    text-align: center;
    color: #FFF;
    padding: 10px 0;
    height: 150px;
}
#modal-content, #modal-caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}
/* modal-img */
